*{
    margin: 0px;
    padding: 5px;
}
body{
    background-color: black;
    color: aliceblue;
}
h1 {
    text-align: center;
    padding: 10px;
}
img{
    width: 50%;
    height: auto;
}